html {
   font-size: 14px;
 }
 
 body {
   font-family: 'Noto Sans JP', sans-serif;  
 }
 
 h1 {
   font-size: 1.5rem;
 }
 
 h2 {
  font-size: 1.375rem;
 }

 h3 {
  font-size: 1.125rem;
 }

 h5 {
  font-size: 1.125rem;
 }
 
 a {
   color: #5196a6;
   text-decoration: none !important;
 }
 
 a:hover {
    color: #5196a6;
 }
 
 footer {
   width: 100%;
   height: 60px;
   position: absolute;
   bottom: 0;    
   background-color: #f2f0eb;
 }
 
 .nagoyameshi-wrapper {
   min-height: 100vh;
   position: relative;
   padding-bottom: 60px;
   box-sizing: border-box;
 }
 
 .nagoyameshi-navbar {
   min-height: 60px;
 }
 
 .nagoyameshi-logo {
   height: 30px;  
 }
 
 .nagoyameshi-btn {
   background-color: #5196a6 !important;   
   transition: 0.1s;
 }
 
 .nagoyameshi-btn:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-page-link {
   color: #5196a6;
 }
 
 .nagoyameshi-page-link:hover {
   color: #407784;
 }
 
 .nagoyameshi-active {
   background-color: #5196a6 !important;
   border-color: #5196a6 !important;
 }
 
 .nagoyameshi-link-danger {
     color: #f2594b;
 }
 
 .nagoyameshi-link-danger:hover {
     color: #a63c3c;
 }
 
 .nagoyameshi-btn-danger {
     background-color: #f2594b !important;
     transition: 0.1s;
 }
 
 .nagoyameshi-btn-danger:hover {
   opacity: 0.8;   
 }
 
 .nagoyameshi-swiper {
  width: 100%;
  height: 480px;
}

.nagoyameshi-swiper img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.nagoyameshi-overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;  
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nagoyameshi-overlay-text {      
  padding: 0 70px;    
}

.nagoyameshi-catchphrase-heading {
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.nagoyameshi-catchphrase-paragraph {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.nagoyameshi-card-link {
  transition: 0.3s;
}

.nagoyameshi-card-link:hover {
  opacity: 0.7;
}

.nagoyameshi-vertical-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;    
}

.nagoyameshi-horizontal-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

 .nagoyameshi-sort-box {
   width: 150px;
 }
 
 .nagoyameshi-bg {
  background-color: #5196a6 !important;
}

.nagoyameshi-remove-favorite-button:hover {
  color: white;
}

/* 星評価ここから */
.nagoyameshi-star-rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #cccccc;    
}

.nagoyameshi-star-rating:before,
.nagoyameshi-star-rating:after {
  content: '★★★★★';  
}    

.nagoyameshi-star-rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #f29f05;    
}

.nagoyameshi-star-rating[data-rate="5.0"]:after {
  width: 100%;
}
.nagoyameshi-star-rating[data-rate="4.5"]:after {
  width: 90%;
}
.nagoyameshi-star-rating[data-rate="4.0"]:after {
  width: 80%;
}
.nagoyameshi-star-rating[data-rate="3.5"]:after {
  width: 70%;
}
.nagoyameshi-star-rating[data-rate="3.0"]:after {
  width: 60%;
}
.nagoyameshi-star-rating[data-rate="2.5"]:after {
  width: 50%;
}
.nagoyameshi-star-rating[data-rate="2.0"]:after {
  width: 40%;
}
.nagoyameshi-star-rating[data-rate="1.5"]:after {
  width: 30%;
}
.nagoyameshi-star-rating[data-rate="1.0"]:after {
  width: 20%;
}
.nagoyameshi-star-rating[data-rate="0.5"]:after {
  width: 10%;
}
.nagoyameshi-star-rating[data-rate="0.0"]:after {
  width: 0%;
}
/* 星評価ここまで */

/* flatpickrの土曜日の色 */
.flatpickr-weekday:nth-child(7),
.flatpickr-days .flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n) {
  color: #0421D9;
}

/* flatpickrの日曜日の色 */
.flatpickr-weekday:nth-child(7n + 1),
.flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n + 1) {
  color: #D90421;
}

/* flatpickrの選択された日付の色 */
.flatpickr-day.selected {
  background: #D95204 !important;
  border-color: #D95204 !important;
}

/* クレジットカード番号入力フォーム */
.nagoyameshi-card-holder-name,
.nagoyameshi-card-element {
  border-radius: .375rem;
  padding: 12px;
  border: 1px solid #ced4da;
  height: 44px;
  width: 100%;
  background: white;
}

.nagoyameshi-card-holder-name {
  font-family: sans-serif;
  outline: none;
}

.nagoyameshi-card-error {
  display: none;
}
 
 @media screen and (min-width: 1400px) {
   .nagoyameshi-container {
     max-width: 1200px;
   }
 }