<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap" rel="stylesheet">
        
        <!-- Swiper -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
        
        <title>NAGOYAMESHI</title>	
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                <div>
					<div class="swiper nagoyameshi-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img th:src="@{/images/main1.jpg}"></div>
							<div class="swiper-slide"><img th:src="@{/images/main2.jpg}"></div>
							<div class="swiper-slide"><img th:src="@{/images/main3.jpg}"></div>
							<div class="d-flex align-items-center nagoyameshi-overlay-background">
								<div class="container nagoyameshi-container nagoyameshi-overlay-text">
									<h1 class="text-white nagoyameshi-catchphrase-heading">名古屋ならではの味を、<br>見つけよう</h1>
									<p class="text-white nagoyameshi-catchphrase-paragraph">NAGOYAMESHIは、<br>名古屋市のB級グルメ専門のレビューサイトです。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			<div class="container nagoyameshi-container">
				
				<div th:if="${param.loggedIn}" class="my-3">
					<div class="alert alert-info" role="alert">
						<p class="mb-0">ログインしました。</p>
					</div>
				</div>
				
				<div th:if="${param.loggedOut}" class="my-3">
					<div class="alert alert-info" role="alert">
						<p class="mb-0">ログアウトしました。</p>
					</div>
				</div>
				
				<div th:if="${successMessage}" class="my-3">
					<div class="alert alert-info" role="alert">
						<span th:text="${successMessage}"></span>
					</div>
				</div>
				
				<div th:if="${errorMessage}" class="my-3">
					<div class="alert alert-danger" role="alert">
						<span th:text="${errorMessage}"></span>
					</div>
				</div>
				
				<h2 class="text-center mt-4">店舗検索</h2>
				<div class="d-flex justify-content-center">
					<form method="get" th:action="@{/restaurants}" class="mb-5 nagoyameshi-search-form">
						<div class="input-group">
							<input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名で検索">
							<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
						</div>
					</form>
				</div>
				
				<h2 class="text-center mb-2">カテゴリ検索</h2>
				<div class="d-flex flex-wrap mb-5">
					<div th:each="category, iterStat : ${categories}">
						<a th:href="@{/restaurants(categoryId = ${category.getId()})}" class="btn btn-outline-secondary btn-sm me-1 mb-2" th:text="${category.getName()}"></a>
						<div th:if="${iterStat.index % 2 == 1}" class="w-100"></div>
					</div>
				</div>
				
				 <h2 class="text-center mb-2">新規掲載店</h2>
                    <div class="row row-cols-xl-6 row-cols-md-3 row-cols-2 g-3 mb-5">
                        <div th:each="newRestaurant : ${newRestaurants}" class="col">                            
                            <a th:href="@{/restaurants/__${newRestaurant.getId()}__}" class="link-dark nagoyameshi-card-link">
                                <div class="card h-100">
                                    <img th:unless="${newRestaurant.getImage() == null}" th:src="@{/storage/__${newRestaurant.getImage()}__}" class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">                                                                        
                                    <img th:if="${newRestaurant.getImage() == null}" th:src="@{/images/no_image.jpg}" class="card-img-top nagoyameshi-vertical-card-image" alt="画像なし">
                                                                                                                                                    
                                    <div class="card-body">                                    
                                        <h3 class="card-title" th:text="${newRestaurant.getName()}"></h3>
                                        <div class="text-muted small mb-1">
                                            <th:block th:unless="${newRestaurant.getCategories().isEmpty()}">
                                                <th:block th:each="category, stat : ${newRestaurant.getCategories()}">
                                                    <div class="d-inline-block">
                                                        <span th:if="${stat.first}" th:text="${category.getName()}"></span><span th:unless="${stat.first}" th:text="${' ' + category.getName()}"></span>
                                                    </div>
                                                </th:block>     
                                            </th:block>                         
                                            <span th:if="${newRestaurant.getCategories().isEmpty()}">カテゴリ未設定</span>
                                        </div>
                                        <p class="card-text" th:text="${#strings.abbreviate(newRestaurant.getDescription(), 20)}"></p>                                    
                                    </div>
                                </div>    
                            </a>                                                        
                        </div>
                    </div>                     
               </div>                                        
            </main>
            
            <!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
		
		<!-- Swiper -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script th:src="@{/js/carousel.js}"></script>        
	</body>
</html>